body{
    background-color: rgb(199, 188, 188);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.banking{
    background-color: white;
    border-radius:10px;
    width:450px;
    height:280px;
    box-shadow:2px 4px 6px rgb(157,166,163);
    text-align:center;
}
h1{
    color:green;
}
button{
    color:white;
    width:80%;
    height:60px;
    margin:10px;
    border-radius: 8px;
    border:none;
    font-size: 18px;
}
.green{
    background-color:green;
}
.red{
    background-color:red;
}
